html {
  background-color: #282c34;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  /* height: 100%; */
}

.App-header {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.img {
  max-width: 500px;
  max-height: 400px;
}

.modalimg {
  max-width: 300px;
  max-height: 250px;
}

.favimg {
  display: flex;
  width: 100%;
  max-height: 250px;
}

/* Important necessary to override bootstrap-react css */
.modal-content {
  background-color: #282c34 !important;
}

.hover {
  transition: all 0.3s ease;
}
.hover:hover {
  box-shadow: 3px 10px #126e7c !important;
  transform: translateY(-3px);
}
.pointer {
  cursor: pointer;
}
